<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<style>
    .modal-header {
        border-bottom: none;
        text-align: center;
        background-color: #314D68;
        padding: 22px 12px;
    }

    .mfp-auto-cursor .mfp-content {
        cursor: auto;
    }

    .modal-content.modal-info {
        border-radius: 0;
        border: none;
    }

    .modal-header h3 {
        color: #ffffff;
        font-size: 22px;
    }

    .modal-body {
        padding: 30px 35px 35px;
    }

    .signin-rit {
        margin: 1.2em 0;
    }

    span.checkbox1 {
        float: left;
    }
</style>


<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Gantavy  A Real Estate | Home</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gantavy Real Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Scripts/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    @*<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />*@
    @*<link rel="stylesheet" href="css/cm-overlay.css">*@
    <link href="~/Scripts/css/cm-overlay.css" rel="stylesheet" />
    @*<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />*@
    <link href="~/Scripts/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    @*<link href="css/font-awesome.css" rel="stylesheet">*@
    <link href="~/Scripts/css/font-awesome.css" rel="stylesheet" />

    <!-- //font-awesome icons -->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="main" id="home">
        <!-- header -->
        <div class="banner-top">
            <div class="social-bnr-agileits">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="contact-bnr-w3-agile">
                <ul>
                    <li><i class="fa fa-home" aria-hidden="true"></i> Chikago LV488</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">INFO@EXAMPLE.COM</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+1 (100)222-23-33</li>
                    <li class="s-bar">
                        <div class="search">
                            <input class="search_box" type="checkbox" id="search_box">
                            <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
                            <div class="search_form">
                                <form action="#" method="post">
                                    <input type="search" name="Search" placeholder="Search...">
                                    <input type="submit" value="Send">
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="w3_navigation">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html">Gantavy<p class="logo_w3l_agile_caption">Your Dream Property</p></a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--iris">
                            <ul class="nav navbar-nav menu__list">
                                <li class="menu__item menu__item--current"><a href="index.html" class="menu__link">Home</a></li>
                                <li class="menu__item"><a href="#" class="menu__link scroll">About</a></li>
                                <li class="menu__item"><a href="#" class="menu__link scroll">Gallery</a></li>
                                <li class="dropdown menu__item">
                                    <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
                                    <ul class="dropdown-menu agile_short_dropdown">

                                        <li><a class="scroll" href="#">Agents</a></li>
                                        <li><a class="scroll" href="#">Tools & Services</a></li>
                                        <li><a class="scroll" href="#">Testimonials</a></li>
                                    </ul>
                                </li>
                                <li class="menu__item"><a href="#" class="menu__link scroll">Contact Us</a></li>
                                @*<li class="menu__item"><a href="#myModal" class="menu__link scroll">Login</a></li>*@
                                <li><a href="#" onclick="location.href='@Url.Action("Index","Account",new { @area="Admin"})'" class="menu__link scroll">Login</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("CreateUser","Account",new { @area="Admin"})'"    class="menu__link scroll"><span class="btn_link">Register</span></a></li>
                                @*<li class="menu__item">  <a href="#myModal" class=-icon popup-with-zoom-anim">Login</a></li>*@
                            </ul>
                        </nav>
                    </div>
                </nav>s

            </div>
        </div>
        <!-- //header -->
        <!-- banner -->
        <div class="banner-silder">
            <div class="banner">
                <ul></ul>
                <ol></ol>
                <i class="left"></i><i class="right"></i>
                <div class="banner_wthree_agile_info">
                    <h3>YOUR DREAM HOUSE</h3>
                    <p>We are Offering the Best Real Estate Services</p>
                </div>
            </div>

        </div>
        <!-- //banner -->
    </div>
    <!--count-->
    <div class="count-agileits">
        <div class="count-grids">
            <div class="count-bgcolor-w3ls">

                <div class="col-md-3 agileits_w3layouts_about_counter_left c1 count-grid">
                    <i class="fa fa-smile-o" aria-hidden="true"></i>
                    <p class="counter">786</p>
                    <span></span>
                    <h5>Happy Client</h5>
                </div>
                <div class="col-md-3 agileits_w3layouts_about_counter_left c2 count-grid">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    <p class="counter">180</p>
                    <span></span>
                    <h5>Appartments</h5>
                </div>
                <div class="col-md-3 agileits_w3layouts_about_counter_left c3 count-grid">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <p class="counter">760</p>
                    <span></span>
                    <h5>Houses & Vila</h5>
                </div>
                <div class="col-md-3 agileits_w3layouts_about_counter_left c4 count-grid">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <p class="counter">1100</p>
                    <span></span>
                    <h5>Site members</h5>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--count-->
    <!-- about -->
    <div class="about" id="about">
        <div class="container">
            <div class="wthree-tittle">
                <h3 class="agile_title">About Us</h3>
                <p class="w3l-agile-its-title">Find Your Dream Home</p>
            </div>
            <div class="wthree_about_grids">
                <div class="col-md-6 wthree_about_grid_left">
                    <h2>Welcome to our  <span>Gantavy</span></h2>
                    <div class="wthree_about_grid_left1">
                        <span></span>
                        <div class="wthree_about_grid_left1_pos">
                            <p>
                                Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi,
                                vel tincidunt augue ipsum nec erat. Vestibulum congue leo elementum
                                ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent
                                per conubia nostra, per inceptos himenaeos.
                            </p>
                            <div class="panel-group about_panel" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>assumenda est cliche voluptate
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body panel_text">
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>Itaque earum rerum
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body panel_text">
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>autem accusamus terry qui
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body panel_text">
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i>excepturi sint cliche proident
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                        <div class="panel-body panel_text">
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 wthree_about_grid_right">
                    <img src="~/images/ab_pic.png" alt=" " class="img-responsive" />
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!-- /about-bottom -->
    <!-- /propertygirds_agileits -->
    <div class="property_girds_agileits">
        <div class="agile_team_grid">

            <div class="col-md-3 w3ls_banner_bottom_grid">

                <img src="~/images/g1.jpg" alt=" " class="img-responsive" />
                <div class="overlay">
                    <h4>Property 1</h4>
                    <ul class="social_agileinfo">
                        <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 w3ls_banner_bottom_grid">
                <img src="~/images/g2.jpg" alt=" " class="img-responsive" />
                <div class="overlay">
                    <h4>Property 2</h4>
                    <ul class="social_agileinfo">
                        <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3 w3ls_banner_bottom_grid hvr-shutter-in-horizontal">
                <img src="~/images/g3.jpg" alt=" " class="img-responsive" />
                <div class="overlay">
                    <h4>Property 3</h4>
                    <ul class="social_agileinfo">
                        <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="col-md-3 w3ls_banner_bottom_grid">
                <img src="~/images/g4.jpg" alt=" " class="img-responsive" />
                <div class="overlay">
                    <h4>Property 4</h4>
                    <ul class="social_agileinfo">
                        <li><a href="#" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //propertygirds_agileits -->
    <!-- services -->
    <div class="services" id="service">
        <div class="container">
            <div class="wthree-tittle">
                <h3 class="agile_title one">Services</h3>
                <p class="w3l-agile-its-title">Find Your Dream Home</p>
            </div>
            <div class="col-md-6 services_w3lagileinfo ">
                <h4>Real Estate Tools and Services</h4>
                <div class="wthree_services_text">
                    <div class="services-right-grids">
                        <div class="col-sm-6 services-right-grid">
                            <div class="services-icon hvr-radial-in">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                            <div class="services-icon-info">
                                <h5>Find an agent</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 services-right-grid">
                            <div class="services-icon hvr-radial-in">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                            <div class="services-icon-info">
                                <h5>Property insurance</h5>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="services-right-grids">
                        <div class="col-sm-6 services-right-grid">
                            <div class="services-icon hvr-radial-in">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            <div class="services-icon-info">
                                <h5>Property management</h5>
                            </div>
                        </div>
                        <div class="col-sm-6 services-right-grid">
                            <div class="services-icon hvr-radial-in">
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            </div>
                            <div class="services-icon-info">
                                <h5>Homes for sale and rent</h5>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                </div>
                <div class="clearfix"> </div>
            </div>

            <div class="col-md-6 wthree_services_slider jarallax">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="w3ls-text">
                            <h5>Lorem ipsum dolor sit amet.</h5>
                            <p>Donec feugiat tellus sem, laoreet iaculis orci lobortis vel. Sed sed luctus orci, at lacinia risus. Ut porttitor ante ac tincidunt elementum. Curabitur ex dolor</p>
                        </div>
                    </li>
                    <li>
                        <div class="w3ls-text">
                            <h5>Aliquam id felis ultrices.</h5>
                            <p>Nullam maximus dolor sed velit gravida, quis vestibulum eros sagittis. Nulla ultricies metus a turpis pretium volutpat. Cras consectetur tempus lectus id accumsan.</p>
                        </div>
                    </li>
                    <li>
                        <div class="w3ls-text">
                            <h5>Etiam eu est aliquet orci.</h5>
                            <p>Ut porttitor, ante at tincidunt eleifend, quam massa laoreet odio, eu tincidunt lorem mauris ut velit. Etiam tempor nibh ut odio pellentesque, lacinia placerat.</p>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //services -->
    <div class="agents jarallax" id="team">
        <div class="container">
            <div class="wthree-tittle">
                <h3 class="agile_title one two">Our Agents</h3>
                <p class="w3l-agile-its-title second">Find Your Dream Home</p>
            </div>
            <div class="w3_services_grids">
                <div class="col-md-3 w3ls_team_grid">
                    <div class="w3ls_team_grid1 hover15">
                        <figure>
                            <img src="~/images/team3.jpg" alt=" " class="img-responsive" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li><a href="#" class="icon icon-border facebook"></a></li>
                                <li><a href="#" class="icon icon-border twitter"></a></li>
                                <li><a href="#" class="icon icon-border instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>French Carl</h4>
                    <p>Agent</p>
                </div>
                <div class="col-md-3 w3ls_team_grid">
                    <div class="w3ls_team_grid1 hover15">
                        <figure>
                            <img src="~/images/team4.jpg" alt=" " class="img-responsive" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li><a href="#" class="icon icon-border twitter"></a></li>
                                <li><a href="#" class="icon icon-border instagram"></a></li>
                                <li><a href="#" class="icon icon-border facebook"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Peter Williamson</h4>
                    <p>Agent</p>
                </div>
                <div class="col-md-3 w3ls_team_grid">
                    <div class="w3ls_team_grid1 hover15">
                        <figure>
                            <img src="~/images/team2.jpg" alt=" " class="img-responsive" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li><a href="#" class="icon icon-border instagram"></a></li>
                                <li><a href="#" class="icon icon-border facebook"></a></li>
                                <li><a href="#" class="icon icon-border twitter"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Laura James</h4>
                    <p>Agent</p>
                </div>
                <div class="col-md-3 w3ls_team_grid">
                    <div class="w3ls_team_grid1 hover15">
                        <figure>
                            <img src="~/images/team1.jpg" alt=" " class="img-responsive" />
                        </figure>
                        <div class="w3ls_team_grid1_pos">
                            <ul class="social-icons">
                                <li><a href="#" class="icon icon-border pinterest"></a></li>
                                <li><a href="#" class="icon icon-border twitter"></a></li>
                                <li><a href="#" class="icon icon-border instagram"></a></li>
                            </ul>
                        </div>
                    </div>
                    <h4>Rosy Paul</h4>
                    <p>Agent</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //agents -->
    <!-- gallery -->
    <div class="gallery" id="gallery">
        <div class="container">
            <div class="wthree-tittle">
                <h3 class="agile_title one">Properties</h3>
                <p class="w3l-agile-its-title">Find Your Dream Home</p>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a></li>
                    <li role="presentation"><a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Category 1</a></li>
                    <li role="presentation"><a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Category 2</a></li>
                    <li role="presentation"><a href="#painting" role="tab" id="painting-tab" data-toggle="tab" aria-controls="painting">Category 3</a></li>
                    <li role="presentation"><a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Category 4</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g1.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g1.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Consectetur</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g2.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g2.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Adipiscing </p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g3.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Ullamcorper  </p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g4.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Tristique</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g5.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g5.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>accumsan</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g6.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g6.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Vulputate</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g7.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g7.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Sodales</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g1.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g1.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Ornare </p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g2.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Eleifend</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g3.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Pulvinar</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g4.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Blandit</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g5.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g5.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Vivamus</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g6.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g6.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Eleifend</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g7.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g7.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Blandit</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="painting" aria-labelledby="painting-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g1.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g1.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Ornare </p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g2.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Pulvinar</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g3.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Vulputate</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/images/g4.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>Property</h5>
                                    <p>Consectetur</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //gallery -->
    <!-- testimonials -->
    <div class="testimonials agents testmo jarallax" id="test">
        <div class="container">
            <div class="wthree-tittle">
                <h3 class="agile_title one two">Testimonials</h3>
                <p class="w3l-agile-its-title second">Find Your Dream Home</p>
            </div>
            <ul id="flexiselDemo1">
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <div class="wthree_testimonials_grid">
                            <h4>What Client Say</h4>
                            <p>
                                Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
                                eu aliquet massa. Suspendisse lacinia rutrum tincidunt. Integer id erat porta,
                                convallis tortor a, ullamcorper magna.
                            </p>
                            <div class="wthree_testimonials_grid_pos">
                                <img src="~/images/t1.jpg" alt=" " class="img-responsive" />
                            </div>
                        </div>
                        <div class="wthree_testimonials_grid1">
                            <h5>Mark Henry</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <div class="wthree_testimonials_grid">
                            <h4>We have agents with experience</h4>
                            <p>
                                Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
                                eu aliquet massa. Suspendisse lacinia rutrum tincidunt. Integer id erat porta,
                                convallis tortor a, ullamcorper magna.
                            </p>
                            <div class="wthree_testimonials_grid_pos">
                                <img src="~/images/t2.jpg" alt=" " class="img-responsive" />
                            </div>
                        </div>
                        <div class="wthree_testimonials_grid1">
                            <h5>Linda Carl</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="wthree_testimonials_grid_main">
                        <div class="wthree_testimonials_grid">
                            <h4>What Client Say</h4>
                            <p>
                                Donec laoreet eu purus eu viverra. Vestibulum sed convallis massa,
                                eu aliquet massa. Suspendisse lacinia rutrum tincidunt. Integer id erat porta,
                                convallis tortor a, ullamcorper magna.
                            </p>
                            <div class="wthree_testimonials_grid_pos">
                                <img src="~/images/t1.jpg" alt=" " class="img-responsive" />
                            </div>
                        </div>
                        <div class="wthree_testimonials_grid1">
                            <h5>Michael Paul</h5>
                            <p>Client</p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!-- //testimonials -->
    <!-- mail -->
    <div class="mail" id="contact">
        <div class="mail-grid1">
            <div class="container">
                <div class="wthree-tittle">
                    <h3 class="agile_title one">Contact Us</h3>
                    <p class="w3l-agile-its-title">Find Your Dream Home</p>
                </div>
                <div class="w3-agile_info">
                    <div class="col-md-4 mail-agileits-w3layouts">
                        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Phone</p><span>+1 (100)222-23-33</span>
                        </div>
                    </div>
                    <div class="col-md-4 mail-agileits-w3layouts">
                        <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Email</p><a href="mailto:info@example.com">info@example.com</a>
                        </div>
                    </div>
                    <div class="col-md-4 mail-agileits-w3layouts">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Address</p><span>7784 Diamonds street, California, US.</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-7 map ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359195.17562375!2d-113.7156245614499!3d36.2473834534249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1452332634941"></iframe>
        </div>
        <div class="col-md-5 mail-grid1-form ">
            <h3 class="tittle-w3"><span>Send a </span>Message</h3>
            <form action="#" method="post">
                <input type="text" name="Name" placeholder="Your Name" required="" />
                <input type="text" name="phone" placeholder="Your Phone" required="" />
                <input type="email" name="Email" placeholder="your Email" required="" />
                <textarea name="Message" placeholder="Your Message...." required=""></textarea>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //mail -->
    <!-- footer -->
    <div class="footer jarallax">
        <div class="container">
            <div class="col-md-4 agileinfo_footer_grid">
                <h3>About Us</h3>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Email" required="">
                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="col-md-4 agileinfo_footer_grid">
                <h3>Twitter Posts</h3>
                <ul class="w3agile_footer_grid_list">
                    <li>
                        Ut aut reiciendis voluptatibus maiores <a href="#">http://lkj.ewr.com</a> alias, ut aut reiciendis.
                        <span>02 days ago</span>
                    </li>
                    <li>
                        Itaque earum rerum hic tenetur a sapiente delectus <a href="#">http://uiubajaj.com</a> ut aut
                        voluptatibus.<span>03 days ago</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 agileinfo_footer_grid">
                <h3>Social Media</h3>
                <ul class="agileinfo_social_icons">
                    <li><a href="#" class="facebook"><span><i class="fa fa-facebook" aria-hidden="true"></i></span>Facebook</a></li>
                    <li><a href="#" class="twitter"><span><i class="fa fa-twitter" aria-hidden="true"></i></span>Twitter</a></li>
                    <li><a href="#" class="google"><span><i class="fa fa-google-plus" aria-hidden="true"></i></span>Google+</a></li>
                    <li><a href="#" class="instagram"><span><i class="fa fa-linkedin" aria-hidden="true"></i></span>linkedin</a></li>
                </ul>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- //footer -->
    <!-- copy-right -->
    <div class="w3lagile_copy_right">
        @*@RenderBody()*@
        <p>© 2018 Gantavy Villa. All Rights Reserved | Design by <a href="#" target="_blank">Gantavy</a></p>
    </div>
    <!-- //copy-right -->
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- js -->
    @*<script src="js/jquery-2.2.3.min.js"></script>*@

    <script src="~/Scripts/js/jquery-2.2.3.min.js"></script>
    <!-- skills -->
    @*<img src="~/images/banner1.jpg" />
        <img src="~/images/banner2.jpg" />
        <img src="~/images/banner4.jpg" />
        <img src="~/images/banner1.jpg" />*@
    <script>
        $(function () {

            // parameters
            // image height
            var images_height = '500px';
            // array of images
            var images_url = [
                'images/banner1.jpg',
                'images/banner2.jpg',
                'images/banner3.jpg'
            ];
            var images_count = images_url.length;

            // create nodes
            for (var j = 0; j < images_count + 1; j++) {
                $('.banner ul').append('<li></li>')
            }

            // pagination
            for (var j = 0; j < images_count; j++) {
                if (j == 0) {
                    $('.banner ol').append('<li class="current"></li>')
                } else {
                    $('.banner ol').append('<li></li>')
                }
            }

            // convert images into backgrounds
            $('.banner ul li').css('background-image', 'url(' + images_url[0] + ')');

            $.each(images_url, function (key, value) {
                $('.banner ul li').eq(key).css('background-image', 'url(' + value + ')');
            });

            $('.banner').css('height', images_height);

            $('.banner ul').css('width', (images_count + 1) * 100 + '%');

            $('.banner ol').css('width', images_count * 20 + 'px');
            $('.banner ol').css('margin-left', -images_count * 20 * 0.5 - 10 + 'px');

            var num = 0;

            var window_width = $(window).width();

            $(window).resize(function () {
                window_width = $(window).width();
                $('.banner ul li').css({ width: window_width });
                clearInterval(timer);
                nextPlay();
                timer = setInterval(nextPlay, 2000);
            });

            $('.banner ul li').width(window_width);

            // pagination dots
            $('.banner ol li').mouseover(function () {
                $(this).addClass('current').siblings().removeClass('current');
                var i = $(this).index();
                //console.log(i);
                $('.banner ul').stop().animate({ left: -i * window_width }, 500);
                num = i;
            });

            // autoplay
            var timer = null;

            function prevPlay() {
                num--;
                if (num < 0) {
                    $('.banner ul').css({ left: -window_width * images_count }).stop().animate({ left: -window_width * (images_count - 1) }, 500);
                    num = images_count - 1;
                } else {
                    $('.banner ul').stop().animate({ left: -num * window_width }, 500);
                }
                if (num == images_count - 1) {
                    $('.banner ol li').eq(images_count - 1).addClass('current').siblings().removeClass('current');
                } else {
                    $('.banner ol li').eq(num).addClass('current').siblings().removeClass('current');

                }
            }

            function nextPlay() {
                num++;
                if (num > images_count) {
                    $('.banner ul').css({ left: 0 }).stop().animate({ left: -window_width }, 500);
                    num = 1;
                } else {
                    $('.banner ul').stop().animate({ left: -num * window_width }, 500);
                }
                if (num == images_count) {
                    $('.banner ol li').eq(0).addClass('current').siblings().removeClass('current');
                } else {
                    $('.banner ol li').eq(num).addClass('current').siblings().removeClass('current');

                }
            }

            timer = setInterval(nextPlay, 2000);

            // auto pause on mouse enter
            $('.banner').mouseenter(function () {
                clearInterval(timer);
                $('.banner i').fadeIn();
            }).mouseleave(function () {
                timer = setInterval(nextPlay, 2000);
                $('.banner i').fadeOut();
            });

            // goto next
            $('.banner .right').click(function () {
                nextPlay();
            });

            // back to previous
            $('.banner .left').click(function () {
                prevPlay();
            });

        });
    </script>
    <!-- Stats-Number-Scroller-Animation-JavaScript -->
    <script src="~/Scripts/js/waypoints.min.js"></script>
    <script src="~/Scripts/js/counterup.min.js"></script>
    @*<script src="js/waypoints.min.js"></script>
        <script src="js/counterup.min.js"></script>*@
    <script>
        jQuery(document).ready(function ($) {
            $('.counter').counterUp({
                delay: 100,
                time: 1000
            });
        });
    </script>
    <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    @*<script src="js/responsiveslides.min.js"></script>*@
    <script src="~/Scripts/js/responsiveslides.min.js"></script>

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider4").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>

    <script src="~/Scripts/js/jquery.tools.min.js"></script>
    @*<script src="js/jquery.tools.min.js"></script>*@

    <script src="~/Scripts/js/jquery.mobile.custom.min.js"></script>
    @*<script src="js/jquery.mobile.custom.min.js"></script>*@
    <script src="~/Scripts/js/jquery.cm-overlay.js"></script>
    @*<script src="js/jquery.cm-overlay.js"></script>*@
    <script>
        $(document).ready(function () {
            $('.cm-overlay').cmOverlay();
        });
    </script>



    <!-- start-smoth-scrolling -->
    <script src="~/Scripts/js/move-top.js"></script>
    <script src="~/Scripts/js/easing.js"></script>
    @*<script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>*@
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <script src="~/Scripts/js/jarallax.js"></script>
    <script src="~/Scripts/js/SmoothScroll.min.js"></script>
    @*<script src="js/jarallax.js"></script>
        <script src="js/SmoothScroll.min.js"></script>*@
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>


    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 1,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 1
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 1
                    }
                }
            });

        });
    </script>
    @*<script type="text/javascript" src="js/jquery.flexisel.js"></script>*@
    <script src="~/Scripts/js/jquery.flexisel.js"></script>

    <!-- //js -->
    <script src="~/Scripts/js/bootstrap.js"></script>
    @*<script src="js/bootstrap.js"></script>*@
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>a